In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_excel("C:/Users/Yusuf/Desktop/proje/machine learning/car_data.xlsx")

In [39]:
df = df.drop(['Kimden','Model','Motor Hacmi','Ort. Yakıt Tüketimi','Renk','Takasa Uygun','Yakıt Deposu','Çekiş','İlan No','İlan Tarihi','Url'], axis=1)

In [40]:
df = df.rename(columns={'Boya-değişen': 'Boya_Degisen','Kasa Tipi': 'Kasa_Tipi','Motor Gücü': 'Motor_Gucu',
                        'Seri': 'Model','Vites Tipi': 'Vites_Tipi','Yakıt Tipi': 'Yakit_Tipi',
                        'Yıl': 'Yil'})

In [41]:
df.columns

Index(['Boya_Degisen', 'Kasa_Tipi', 'Kilometre', 'Marka', 'Motor_Gucu',
       'Model', 'Vites_Tipi', 'Yakit_Tipi', 'Yil', 'Fiyat'],
      dtype='object')

In [42]:
df.head()

,Boya_Degisen,Kasa_Tipi,Kilometre,Marka,Motor_Gucu,Model,Vites_Tipi,Yakit_Tipi,Yil,Fiyat
0,3 boyalı,Hatchback/5,89.000 km,Ford,75 hp,Fiesta,Düz,Dizel,2015,615.000 TL
1,"1 değişen, 4 boyalı",Sedan,320.000 km,Nissan,100 hp,Primera,Düz,LPG & Benzin,1997,335.000 TL
2,Belirtilmemiş,Sedan,209.000 km,Fiat,95 hp,Egea,Düz,Dizel,2016,560.000 TL
3,Tamamı orjinal,Sedan,60.000 km,Hyundai,97 hp,Accent Era,Düz,LPG & Benzin,2011,590.000 TL
4,Tamamı orjinal,Hatchback/5,47.000 km,Renault,75 hp,Clio,Düz,Benzin,2018,589.900 TL

In [43]:
df["Fiyat"] = df.Fiyat.str.replace('.', '')
df["Fiyat"] = df.Fiyat.str.replace(' TL', '')
df["Fiyat"] = df.Fiyat.astype(float)

In [44]:
df

,Boya_Degisen,Kasa_Tipi,Kilometre,Marka,Motor_Gucu,Model,Vites_Tipi,Yakit_Tipi,Yil,Fiyat
0,3 boyalı,Hatchback/5,89.000 km,Ford,75 hp,Fiesta,Düz,Dizel,2015,615000.0
1,"1 değişen, 4 boyalı",Sedan,320.000 km,Nissan,100 hp,Primera,Düz,LPG & Benzin,1997,335000.0
2,Belirtilmemiş,Sedan,209.000 km,Fiat,95 hp,Egea,Düz,Dizel,2016,560000.0
3,Tamamı orjinal,Sedan,60.000 km,Hyundai,97 hp,Accent Era,Düz,LPG & Benzin,2011,590000.0
4,Tamamı orjinal,Hatchback/5,47.000 km,Renault,75 hp,Clio,Düz,Benzin,2018,589900.0
...,...,...,...,...,...,...,...,...,...,...
995,Belirtilmemiş,Hatchback/5,270.000 km,Renault,80 hp,Megane,Düz,Dizel,2006,410000.0
996,Tamamı orjinal,Sedan,7.300 km,Fiat,95 hp,Egea,Düz,Benzin,2021,783000.0
997,2 değişen,Hatchback/5,252.000 km,Volkswagen,105 hp,Golf,Düz,LPG & Benzin,2000,380500.0
998,"2 değişen, 5 boyalı",Sedan,250.000 km,Volkswagen,115 hp,Jetta,Düz,Benzin,2006,480000.0
999,4 boyalı,Sedan,330 km,Volkswagen,115 hp,Jetta,Düz,Benzin,2007,520000.0

In [45]:
df["Boya_Degisen"] = df.Boya_Degisen.str.replace('Tamamı orjinal','0')
df["Boya_Degisen"] = df.Boya_Degisen.str.replace('Tamamı boyalı','14')
df["Boya_Degisen"] = df.Boya_Degisen.str.replace('Belirtilmemiş','0')
df["Boya_Degisen"] = df.Boya_Degisen.str.replace(' değişen','')
df["Boya_Degisen"] = df.Boya_Degisen.str.replace(' boyalı','')
df["Boya_Degisen"] = df.Boya_Degisen.str.replace(' ','')
def add_numbers(cell):
    numbers = [int(num) for num in cell.split(',')]
    return sum(numbers)
df["Boya_Degisen"] = df["Boya_Degisen"].apply(add_numbers)
df['Kasa_Tipi'] = df['Kasa_Tipi'].replace(['Hatchback/5','Hatchback/3'],'Hatchback')
df["Kilometre"] = df.Kilometre.str.replace('.', '')
df["Kilometre"] = df.Kilometre.str.replace(' km', '')
df["Motor_Gucu"] = df.Motor_Gucu.str.replace(' hp', '')
mode_motorgucu = df["Motor_Gucu"].mode()[0]
df["Motor_Gucu"].fillna(mode_motorgucu, inplace=True)

In [46]:
df

,Boya_Degisen,Kasa_Tipi,Kilometre,Marka,Motor_Gucu,Model,Vites_Tipi,Yakit_Tipi,Yil,Fiyat
0,3,Hatchback,89000,Ford,75,Fiesta,Düz,Dizel,2015,615000.0
1,5,Sedan,320000,Nissan,100,Primera,Düz,LPG & Benzin,1997,335000.0
2,0,Sedan,209000,Fiat,95,Egea,Düz,Dizel,2016,560000.0
3,0,Sedan,60000,Hyundai,97,Accent Era,Düz,LPG & Benzin,2011,590000.0
4,0,Hatchback,47000,Renault,75,Clio,Düz,Benzin,2018,589900.0
...,...,...,...,...,...,...,...,...,...,...
995,0,Hatchback,270000,Renault,80,Megane,Düz,Dizel,2006,410000.0
996,0,Sedan,7300,Fiat,95,Egea,Düz,Benzin,2021,783000.0
997,2,Hatchback,252000,Volkswagen,105,Golf,Düz,LPG & Benzin,2000,380500.0
998,7,Sedan,250000,Volkswagen,115,Jetta,Düz,Benzin,2006,480000.0
999,4,Sedan,330,Volkswagen,115,Jetta,Düz,Benzin,2007,520000.0

In [47]:
df["Boya_Degisen"] = df.Boya_Degisen.astype(float)
df["Kilometre"] = df.Kilometre.astype(float)
df["Motor_Gucu"] = df.Motor_Gucu.astype(float)
df["Yil"] = df.Yil.astype(int)

In [48]:
df.head()

,Boya_Degisen,Kasa_Tipi,Kilometre,Marka,Motor_Gucu,Model,Vites_Tipi,Yakit_Tipi,Yil,Fiyat
0,3.0,Hatchback,89000.0,Ford,75.0,Fiesta,Düz,Dizel,2015,615000.0
1,5.0,Sedan,320000.0,Nissan,100.0,Primera,Düz,LPG & Benzin,1997,335000.0
2,0.0,Sedan,209000.0,Fiat,95.0,Egea,Düz,Dizel,2016,560000.0
3,0.0,Sedan,60000.0,Hyundai,97.0,Accent Era,Düz,LPG & Benzin,2011,590000.0
4,0.0,Hatchback,47000.0,Renault,75.0,Clio,Düz,Benzin,2018,589900.0

In [49]:
df.to_excel("C:/Users/Yusuf/Desktop/proje/machine learning/cars_to_presentation.xlsx",index=False)

In [50]:
x = df.iloc[:, 0:9].values
y = df.iloc[:, 9].values
y = y.reshape(-1, 1)

In [51]:
df['Model'].value_counts()

Model
Astra             56
Egea              53
Focus             51
Megane            50
Corolla           42
                  ..
300 M              1
Passat Variant     1
S40                1
R 11               1
C5                 1
Name: count, Length: 146, dtype: int64

In [52]:
df['Kasa_Tipi'].value_counts()

Kasa_Tipi
Sedan            551
Hatchback        394
Station wagon     26
Coupe             17
MPV               12
Name: count, dtype: int64

In [53]:
df['Marka'].value_counts()

Marka
Renault            162
Volkswagen         120
Fiat               105
Opel                94
Ford                86
Hyundai             63
Toyota              57
BMW                 42
Peugeot             31
Mercedes - Benz     30
Honda               29
Audi                26
Citroen             25
Tofaş               24
Seat                23
Skoda               21
Dacia               12
Chevrolet           12
Nissan              10
Kia                  8
Mitsubishi           5
Volvo                4
Chrysler             2
Suzuki               2
Alfa Romeo           1
MINI                 1
DS Automobiles       1
Daewoo               1
Porsche              1
Daihatsu             1
Mazda                1
Name: count, dtype: int64

In [54]:
df['Yakit_Tipi'].value_counts()

Yakit_Tipi
Dizel           425
LPG & Benzin    318
Benzin          253
Hibrit            4
Name: count, dtype: int64

In [55]:
df['Vites_Tipi'].value_counts()

Vites_Tipi
Düz              581
Otomatik         213
Yarı Otomatik    206
Name: count, dtype: int64

In [56]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [57]:
df['Marka'] = enc.fit_transform(df['Marka'])

In [58]:
df = df.drop(['Model'],axis=1)

In [59]:
df['Marka'].value_counts() #Renault=23 Volkswagen=29 Fiat=10 Opel=20 Ford=11 Hyundai=13 Toyota=28 BMW=2 Peugeot=21 Mercedes-Benz=17 Honda=12 Audi=1 Citroen=5 Tofaş=27 Seat=24 Skoda=25 Dacia=7 Chevrolet=3 Nissan=19 Kia=14 Mitsubishi=18 Volvo=30 Chrysler=4 Suzuki=26 Alfa Romeo=0 MINI=15 DS=6 Daewoo=8 Porsche=22 Daihatsu=9 Mazda=16

Marka
23    162
29    120
10    105
20     94
11     86
13     63
28     57
2      42
21     31
17     30
12     29
1      26
5      25
27     24
24     23
25     21
7      12
3      12
19     10
14      8
18      5
30      4
4       2
26      2
0       1
15      1
6       1
8       1
22      1
9       1
16      1
Name: count, dtype: int64

In [60]:
df['Kasa_Tipi'] = df['Kasa_Tipi'].replace(['Sedan'],'3')
df['Kasa_Tipi'] = df['Kasa_Tipi'].replace(['Hatchback'],'1')
df['Kasa_Tipi'] = df['Kasa_Tipi'].replace(['Station wagon'],'4')
df['Kasa_Tipi'] = df['Kasa_Tipi'].replace(['Coupe'],'0')
df['Kasa_Tipi'] = df['Kasa_Tipi'].replace(['MPV'],'2')
df["Kasa_Tipi"] = df.Kasa_Tipi.astype(int)

In [61]:
df['Kasa_Tipi'].value_counts()

Kasa_Tipi
3    551
1    394
4     26
0     17
2     12
Name: count, dtype: int64

In [62]:
df['Vites_Tipi'] = df['Vites_Tipi'].replace(['Düz'],'0')
df['Vites_Tipi'] = df['Vites_Tipi'].replace(['Otomatik'],'1')
df['Vites_Tipi'] = df['Vites_Tipi'].replace(['Yarı Otomatik'],'2')
df["Vites_Tipi"] = df.Vites_Tipi.astype(int)

In [63]:
df['Vites_Tipi'].value_counts()

Vites_Tipi
0    581
1    213
2    206
Name: count, dtype: int64

In [64]:
df['Yakit_Tipi'] = df['Yakit_Tipi'].replace(['Dizel'],'1')
df['Yakit_Tipi'] = df['Yakit_Tipi'].replace(['LPG & Benzin'],'3')
df['Yakit_Tipi'] = df['Yakit_Tipi'].replace(['Benzin'],'0')
df['Yakit_Tipi'] = df['Yakit_Tipi'].replace(['Hibrit'],'2')
df["Yakit_Tipi"] = df.Yakit_Tipi.astype(int)

In [65]:
df['Yakit_Tipi'].value_counts()

Yakit_Tipi
1    425
3    318
0    253
2      4
Name: count, dtype: int64

In [66]:
print(df['Boya_Degisen'].isnull().values.any())
print(df['Kasa_Tipi'].isnull().values.any())
print(df['Kilometre'].isnull().values.any())
print(df['Marka'].isnull().values.any())
print(df['Motor_Gucu'].isnull().values.any())
print(df['Vites_Tipi'].isnull().values.any())
print(df['Yakit_Tipi'].isnull().values.any())
print(df['Yil'].isnull().values.any())
print(df['Fiyat'].isnull().values.any())

False
False
False
False
False
False
False
False
False

In [67]:
df

,Boya_Degisen,Kasa_Tipi,Kilometre,Marka,Motor_Gucu,Vites_Tipi,Yakit_Tipi,Yil,Fiyat
0,3.0,1,89000.0,11,75.0,0,1,2015,615000.0
1,5.0,3,320000.0,19,100.0,0,3,1997,335000.0
2,0.0,3,209000.0,10,95.0,0,1,2016,560000.0
3,0.0,3,60000.0,13,97.0,0,3,2011,590000.0
4,0.0,1,47000.0,23,75.0,0,0,2018,589900.0
...,...,...,...,...,...,...,...,...,...
995,0.0,1,270000.0,23,80.0,0,1,2006,410000.0
996,0.0,3,7300.0,10,95.0,0,0,2021,783000.0
997,2.0,1,252000.0,29,105.0,0,3,2000,380500.0
998,7.0,3,250000.0,29,115.0,0,0,2006,480000.0
999,4.0,3,330.0,29,115.0,0,0,2007,520000.0

In [68]:
df.to_excel("C:/Users/Yusuf/Desktop/proje/machine learning/cars_fill_training.xlsx",index=False)